
<web-app>
<welcome-file-list>
	<welcome-file>Login.jsp</welcome-file>
</welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServ</servlet-name>
  	<display-name>LoginServ</display-name>
  	<description></description>
  	<servlet-class>LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServ</servlet-name>
  	<url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
</web-app>
