<web-app>
<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainServ</servlet-name>
  	<display-name>MainServ</display-name>
  	<description></description>
  	<servlet-class>MainServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectServ</servlet-name>
  	<display-name>SubjectServ</display-name>
  	<description></description>
  	<servlet-class>SubjectServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServ</servlet-name>
  	<display-name>StudentServ</display-name>
  	<description></description>
  	<servlet-class>StudentServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServ</servlet-name>
  	<url-pattern>/MainServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectServ</servlet-name>
  	<url-pattern>/SubjectServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServ</servlet-name>
  	<url-pattern>/StudentServ</url-pattern>
  </servlet-mapping>

</web-app>
